<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"
    <meta charset="utf-8" />
    <title>Our Products</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Our Products</h2>
                <div class=" list-group list group-flush">
                    <a href="#" class="list-group-item list-group-item-action">
                        Electric Guitar
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Classic Guitar
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Acoustic Guitar
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Drum
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Popular Brand</h2>
                <div class=" list-group list group-flush">
                    <a href="#" class="list-group-item list-group-item-action">
                        Fender
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Gibson
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Epiphone
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Legend
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
